Source: pysdm
Section: admin 
Priority: optional
Maintainer: BlankOn Developers <BlankOn@googlegroups.com>
XSBC-Original-Maintainer: Jaime Soriano Pastor <kronoss@kronoss.org>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: python-support (>= 0.5.3), intltool
Standards-Version: 3.7.3
Homepage: http://pysdm.sourceforge.net

Package: pysdm
Architecture: all
Depends: ${python:Depends}, libblkid1, python-gtk2, python-glade2
Recommends: gksu
Description: Graphical Storage Device Manager
 PySDM is a PyGTK Storage Device Manager that allows full customization of hard
 disk mountpoints whitout manually access to fstab.
 It also allows the creation of udev rules for dynamic configuration of storage
 devices
